@model EduManagementLab.Web.Pages.Courses.DetailsModel
<div class="col-md-2 text-md-end">
    <div class="modal fade EndMember" id="End-Member" tabindex="-1" aria-labelledby="End-Member" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="End-Member">End Member</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-md-start">
                    <p class="text-center">This will inactive the member and you will not have permission until you reactivate this member</p>
                    <form method="post" asp-route-courseId="@ViewBag.courseId" asp-route-userId="@ViewBag.userId" asp-route-selectedOption="@ViewBag.SelectedOption" asp-page-handler="UpdateMembership" class="text-center">
                        <div class="input-group flex-nowrap">
                            <span class="input-group-text" id="basic-addon1">Select end date</span>
                            <input class="form-control" aria-label="DateTime" aria-describedby="addon-wrapping" type="date" asp-for="@Model.SelectedEndDate" placeholder="Date" />
                        </div>
                        <div class="form-group text-center mt-3">
                            <button type="submit" class="btn btn-danger">Confirm</button>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>